# NetBeans specific #
nbproject/private/
build/
nbbuild/
nbproject/build-impl.xml
nbproject/genfiles.properties
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

